@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: rgb(255, 215, 188);
  --secondary-color: rgb(42, 42, 42);
}

body {
  color: var(--secondary-color);
  font-family: "Cormorant Garamond", serif;
}

.nav-content {
  height: 70vh;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 2rem 2rem 0 2rem;
  transition: 1s all ease;
}

.nav-items {
  height: 80%;
}

.nav-item {
  font-size: 2rem;
}

.nav-close {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-close-button {
  font-size: 1rem;
  color: var(--primary-color);
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
}

.nav-item:not(:first-child) {
  margin-top: 1.5rem;
}

.nav {
  background-color: var(--primary-color);
  height: 5rem;
  display: flex;
  align-items: center;
}

.burger {
  margin-left: 2rem;
}

.burger-item {
  width: 3rem;
  height: 0.2rem;
  background-color: var(--secondary-color);
  border-radius: 2rem;
}

.burger-item:not(:first-of-type) {
  margin-top: 0.4rem;
}

.hero {
  height: calc(100vh - 5rem);
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-style: italic;
  font-size: 3rem;
  line-height: 3rem;
}

.subtitle {
  width: 70%;
  margin: 1rem 0 2rem 0;
}

.btn {
  background-color: var(--secondary-color);
  padding: 1rem 2rem;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 2rem;
}

.btn:hover {
  border: 1px solid var(--secondary-color);
  background-color: transparent;
  color: var(--secondary-color);
  transition: 0.2s all ease-in-out;
}

.image-hero {
  height: 40%;
  width: 80%;
  border-radius: 2rem;
  object-fit: cover;
  margin: 2rem 0;
}

.platzhalter {
  height: 100rem;
  background-color: white;
}

@media only screen and (min-width: 600px) {
  .title {
    font-size: 4rem;
    line-height: 4rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1000px) {
  .title {
    font-size: 6rem;
    line-height: 6rem;
  }
}

@media only screen and (min-width: 1400px) {
  .title {
    font-size: 6rem;
    line-height: 6rem;
  }
}
